html {
    position: relative;
    min-height: 100%;
}

body {
  background-color: #FFFFF0;
  margin: 0 0 100px; /* bottom = footer height */
}

footer li, header li {
    display: inline;
}

header h1 {
  font-size: 8em;
  margin: 0.67em 0;
  font-weight: 200;
  text-align: center;
  color: #111111;
  font-family: "Lato", sans-serif;
}

p, footer, header li {
    font-family: "Open Sans", sans-serif;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: firebrick;
    color: #FFFFF0;
}

footer li{
  font-size: 0.8em;

}

#home {
  background-color: #FFFFF0;
  color: #111111;
}

#about {
  background-color: #4A0000;
   color: #CBCFC6;
}

#experience {
  background-color: #FFFFF0;
  color: #111111;
}

#skills {
  background-color: #4A0000;
  color: #FFFFF0;
}

#contact {
  background-color: #FFFFF0;
}

#main-content {
  text-align: center;
  margin: 0 auto;

}

.content-section {
  margin: 0em;
  padding: 10px 10px 20px 20px;
}

 header a:link {
  color:#111111;
  text-decoration:none;
  outline:0;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  }      /* unvisited link */
 header a:hover{color:firebrick;}  /* mouse over link */ 
 a:visited {color:#111111;}  /* visited link */

 footer a:link {color:#FFFFF0;text-decoration:none;outline:0;}      /* unvisited link */
 footer a:hover{color:#4A1000;}
  a:visited {color:#FFFFF0;}  /* visited link */
