body{}


header h1{

	font-size: 80px;
	text-align: center;
	text-shadow: 0px 0px 0px;
	color: white;
	background-color: black;
	font-family: "Orbitron", sans-serif;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;


}

header h1:hover{
	color: maroon;
}


@-webkit-keyframes le-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes le-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header  h1{
  -webkit-animation: le-fade .5s 0 1 ease-out;
  -moz-animation: le-fade .5s 0 1 ease-out;
}